body {
        font-family: Georgia, serif;
        background-color: azure;
}
div {
        width: 80%;
        border: 2px solid;
        border-radius: 5px;
        position: relative;
        margin-left: auto;
        margin-right: auto;

}
h1 {
        color:Black;
        margin-left: 10%;
}

p.header {
        text-align: center;
        color: black;
        font-size: 14px;
}
p.element {
        text-align: left;
        color: black;
        font-size:  12px;
        margin-left: 25px;

}
ul {
        text-align: left;
        color: black;
        font-size:  12px;    
}