body {
        font-family: Georgia, serif;
        background-color: azure;
}
div {
        border: 2px solid;
        border-radius: 5px;
}
h1 {
        color:Black
}

p.header {
        text-align: center;
        color: black;
        font-size: 14px;
}
p {
        text-align: left;
        color: black;
        font-size:  12px;
}
ul {
        text-align: left;
        color: black;
        font-size:  12px;    
}